@media screen and (min-width: 360px) and (max-width: 500px){
.text{
    font-size: 17px;
}

    .languageNav{
        width: 45px;
        height: 3px;
        font-size: 15px;
    }

.hedBut{
    height: 10px;
    width: 60px;
    font-size: 11px;
}

.secSecond{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hover-text{
    width: 100vw;
    display: flex;
    justify-content: center;

}

.box{
    max-width: 100px;
}

.box p{
    font-size: 12px;
    display: flex;
    padding: 20px;

}

.box img{
    height: 150px;
    width: 260px;
}
}