body{
    margin: 0;
}

.secOne{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(270deg, #1C1D20 40%, #69292D 55%, #ED3B44 100%);
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    font-size: xxx-large;
    position: relative;
}



#divFirst{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: flex-start;
    gap: -5px;
    flex-shrink: 0;
    backdrop-filter: blur(3px);
    position: absolute;
    left: 0;


}

#divFirst aside{
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(59, 59, 59, 0.20) 16.67%, rgb(255, 255, 255, 0.00) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.headOne{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.container{
    margin-bottom:-430px;  /* відступ убирала щоб стало все знизу   */
    display: flex;
   justify-content: space-evenly;
    align-items: flex-end;
    gap: 8px;
    position: absolute;
    right: 0;
}

nav{
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.20);
}

.text{

    justify-content: center;
     display: flex;
    align-items: center;
    flex-direction: initial;
    color: #FAFAFA;
    /* Desktop_tablet/H1 */
    font-family: "Inter Tight";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 100% */
    letter-spacing: -0.7px;
    position: absolute;

}

header{
    height: 20px;
    width: 100%;
    position: absolute;
    top: 15px;
    display: flex;
    justify-content:space-between;
    align-items: center;


}

.hedBut{
    height: 20px;
    width: 100px;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
     background: #ED3B44;
    border-radius: 60px;
    border: 1px solid rgba(225, 10, 10, 0.2);
    display: flex;
}
                         /* black first button*/
header .hedBut:nth-child(1){
   background: #1C1D20;
    color: white;
}

/*---------------------------------------second page--------------------------------*/



