body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.secOne{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(270deg, #1C1D20 40%, #69292D 55%, #ED3B44 100%);
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    font-size: xxx-large;
    position: relative;
}



#divFirst{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: flex-start;
    /*gap: -5px;*/
    flex-shrink: 0;
    /*backdrop-filter: blur(3px);*/
    position: absolute;
    left: 0;


}

#divFirst aside{
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(59, 59, 59, 0.20) 16.67%, rgb(255, 255, 255, 0.00) 100%);
    /*background-blend-mode: overlay;
    /*backdrop-filter: blur(50px);*/
}

.headOne{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.secDiv{
    height: 100vh;
    width: 50vw;
    display: flex;
     justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
    position: absolute;
    right: 10px;

}

.languageNav{
    all: unset;
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.20);
    margin-bottom: 25px;
    cursor: pointer;
    transition: transform 0.7s ease-in-out, box-shadow 0.3s ease-in-out;
}
  .languageNav:hover{

      box-shadow: 15px 5px 25px 15px rgb(198, 13, 13);
  }

.text{

    justify-content: center;
     display: flex;
    align-items: center;
    flex-direction: initial;
    color: #FAFAFA;
    /* Desktop_tablet/H1 */
    font-family: "Inter Tight";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 100% */
    letter-spacing: -0.7px;
    position: absolute;
    border-right: 3px solid white;
    padding-right: 5px;
    white-space: nowrap;


}

header{

    width: 100%;
    position: absolute;
    top: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;


}

.hedBut{
    all: unset;
    width: 100px;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
     background-color:  #ED3B44;
    font-size: small;
    border-radius: 60px;
    border: 1px solid rgba(225, 10, 10, 0.2);
    display: flex;
    margin: 20px;
    position: relative;
    z-index: 10;
    color: #0e0909;
    cursor: pointer;
}
                         /* black first button*/
header .hedBut:nth-child(1){
   background: #1C1D20;
    color: white;
}

.hedBut:hover{
    transform: scale(1.1);
}


/*---------------------------------------second page--------------------------------*/

.secSecond{
    height: 100vh;
    width: 100vw;
    background: #1C1D20;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    white-space: nowrap;
    flex-direction: row;
    padding-top: 30px;




}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   width: 250px;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.box p{
    font-size: 16px;
}
.box img {
    max-height: 190vh;
    width: 40vw;
    border-radius: 15px;
}

.left {
    transform: translateX(-100%);
}

.right {
    transform: translateX(100%);
}

.box.visible {
    opacity: 1;
    transform: translateX(0);
}
/* Стиль для тексту при наведенні */
.hover-text {
    margin-top: 30px;
    color: #fff;


}






/*---------------------------------------third page--------------------------------*/

.secThird{
    height: 100vh;
    width: 100vw;
    background: #1C1D20;
    overflow: hidden;



}




.formTextDiv{

    display: flex;
    justify-content:space-around;
    align-items: center;
}
.form-container {
    margin-top: 25px;
    height: 350px;
    width: 300px;
    background: rgba(174, 39, 39, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

form{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 12px;
    resize: none;

}

.form-group input[type="submit"] {
    background: #0e0909;
    color: white;
    cursor: pointer;
    transition: background 0.1s ease;
    margin-top: 25px;
    width: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;


}
.form-group input[type="submit"]:hover {
    background: #df8585;

}


.secThirdSecDiv{
    height: 300px;
    width: 500px;
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    /*padding-left: 700px;*/


}

.greyStr{
    padding: 10px;
    margin: 40px;
}
.skillDiv{
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: space-around;



}
.navSkill{
    background-color: #a6252a;
    height: 90px;
    width: 90px;
    border: 1px gray solid;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: pulse 2s infinite ease-in-out;

}

@keyframes pulse  {
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }

}
